.user-row {
    background-color: #fff;
}

.user-row td {
    padding         : 8.5px 12px;
    font-size       : 12px;
    line-height     : 133%;
    background-color: white;
}

.user-row td button {
    border-radius: 15px;
    width        : 89px;
    height       : 18px;
    background   : linear-gradient(135deg, #00a5ee 1.73%, #14d7d1 100%);
    font-weight  : 500;
    font-size    : 9px;
    line-height  : 133%;
    color        : #fff;
    border       : none;
}