.header {
  height          : 76px;
  background-color: #fff;
  width           : 100%;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  padding         : 0 24px;
}

.header__title {
  font-weight: 500;
  font-size  : 32px;
  line-height: 50%;
  color      : #505050;
  margin-left: 12px;
}

.header__toolbar {
  display: flex;
  gap    : 16px;
}

.toolbar__add-user {
  border-radius : 8px;
  padding       : 11px 20px;
  background    : linear-gradient(135deg, #00a5ee 1.73%, #14d7d1 100%);
  border        : none;
  color         : #fff;
  line-height   : 137%;
  letter-spacing: 0.01em;
}

.toolbar__logout {
  border-radius : 8px;
  padding       : 11px 20px;
  background    : #f2f2f7;
  font-size     : 16px;
  font-weight   : 500;
  line-height   : 137%;
  letter-spacing: 0.01em;
  border        : none;
}